[Desktop Entry]
Encoding=UTF-8
Name=BEAST
Name[pl]=BEAST
Comment=Beast - The Bedevilled Audio System
Comment[pl]=System dźwięku BEAST (Bedevilled Audio System)
Exec=/usr/bin/beast
Icon=beast.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Audio;
# vi: encoding=utf-8
